@font-face {
  font-family: "SourceSansPro-Light";
  src: url(../fuentes/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url(../fuentes/SourceSansPro-Bold.ttf);
}
body {
  background-color: #efefef;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40pt;
  color: white;
  text-align: center;
}

#vt {
  height: 45px;
  width: auto;
  margin-left: auto;
}

h2 {
  font-family: "SourceSansPro-Light";
  font-size: 25pt;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}

.texto_card {
  font-size: 15pt;
  color: black;
}

.texto_card2 {
  font-size: 15pt;
  color: black;
  padding-top: 4%;
}

.video1 {
  height: 400px;
  width: 100%;
  box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.barra a {
  text-decoration: none;
  color: rgb(251, 249, 249);
}

.barra a:hover {
  color: rgb(213, 99, 112);
}

.logo-index {
  background-color: rgba(0, 0, 0, 0.143);
  height: 80px;
}

footer {
  background-color: rgba(3, 2, 2, 0.803);
  height: 50px;
  width: 100%;
  margin-top: auto;
  display: inline-flex;
  justify-content: end;
  padding-top: 2px;
}

.flex-container a {
  color: aliceblue;
  font-size: 26px;
  width: 45px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

section article {
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  margin-left: 16px;
  width: 420px;
}

.carousel-inner {
  width: auto;
  height: 300px;
  margin-left: 30%;
}

.carousel {
  margin-top: 20px;
  background-color: black;
}

.tam-imagen {
  width: auto;
  height: 300px;
}

section article h3,
section article p {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}

section article h3 {
  text-align: center;
}

section article:hover {
  box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.3);
}

.img-tarjeta {
  width: 400px;
  height: auto;
}

.centrar-tarjeta {
  display: flex;
  justify-content: center;
}

.video_youtube {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 1%;
  padding-right: 2%;
  margin-top: 2%;
}

.titulo_youtube {
  background-color: rgb(85, 80, 80);
  color: rgb(209, 198, 198);
  width: 65%;
  padding-bottom: 15px;
  margin-left: 50px;
  font-size: 28px;
}

.youtube0 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.youtube1 {
  grid-column: 2/3;
  grid-row: 1/2;
  filter: grayscale(100%);
  transition: all 0.7s;
}

.youtube2 {
  grid-column: 3/4;
  grid-row: 1/2;
  filter: grayscale(100%);
  transition: all 0.7s;
}

.youtube3 {
  grid-column: 4/5;
  grid-row: 1/2;
  filter: grayscale(100%);
  transition: all 0.7s;
}

.youtube4 {
  grid-column: 2/3;
  grid-row: 2/3;
  filter: grayscale(100%);
  transition: all 0.7s;
}

.youtube5 {
  grid-column: 3/4;
  grid-row: 2/3;
  filter: grayscale(100%);
  transition: all 0.7s;
}

.youtube6 {
  grid-column: 4/5;
  grid-row: 2/3;
  filter: grayscale(100%);
  transition: all 0.7s;
}

.youtube0:hover {
  transform: scale(1.05);
  transition: all 0.7s;
}

.youtube1:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.youtube2:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.youtube3:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.youtube4:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.youtube5:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.youtube6:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.titulo {
  height: 80px;
  padding: 10px;
}

.buscar {
  background-color: rgba(0, 0, 0, 0.143);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.comparativo {
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
}

.tabla {
  width: 80%;
}

.avatar {
  display: flex;
  justify-content: center;
}

.capacitaciones {
  list-style: none;
  font-size: 11pt;
}

.datos-personales {
  margin: 10px;
}

.barra {
  font-size: 14px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, auto);
}

.galeria {
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, none);
  gap: 5px;
  row-gap: 10px;
  padding: 10px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15 {
  border-bottom: black 1px solid;
}

.lista {
  list-style: none;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  margin-bottom: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.tarjeta_capacitacion {
  display: flex;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  max-width: 800px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgba(89, 104, 116, 0.6117647059);
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  max-width: 40px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.boton_busqueda {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-primary {
  background-color: black;
  border-color: black;
  margin-left: 125px;
}

.fondo_contactanos {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info_contactos {
  padding-top: 20%;
}

.card_contactos {
  margin: 18vh;
}

.card1, .ucard {
  border-radius: 4px;
  padding: 6px;
  box-shadow: 1px 1px 12px 0px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title, .ucard > h3 {
  font-family: "SourceSansPro-Bold";
  font-weight: 700;
  font-size: 50px;
  opacity: 0.85;
  color: #dcdcdc;
}

.small, .ucard > p {
  font-weight: 400;
  opacity: 0.75;
  color: white;
  font-size: 12px;
}

.ucard {
  text-align: center;
  width: 300px;
}
.textos_generales {
  font-style: italic;
}

.duda {
  color: red;
}

.iphone {
  width: 800px;
  margin-left: 50px;
}

@media (max-width: 1366px) {
  .tarjeta_capacitacion {
    margin-bottom: 3%;
  }
  .btn-primary {
    background-color: black;
    border-color: black;
    margin-left: 125px;
  }
}
@media (max-width: 1110px) {
  .titulo_youtube {
    font-size: 22px;
  }
  .fondo_contactanos {
    padding-left: 3%;
    padding-right: 3%;
  }
  .card_contactos {
    margin-left: 5%;
    margin-top: 21vh;
    margin-bottom: 21vh;
  }
}
@media (max-width: 900px) {
  .iphone {
    width: 600px;
  }
  .fondo_contactanos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card_contactos {
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 16vh;
  }
}
@media (max-width: 760px) {
  .barra {
    font-size: 14px;
    grid-gap: 12px;
  }
  .tarjeta_capacitacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
  .card {
    margin-top: 40px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
  .centrar-tarjeta {
    margin-bottom: 16px;
  }
  .carousel-inner {
    padding-top: 20px;
    margin-left: 0%;
    width: auto;
  }
  .tam-imagen {
    max-width: 720px;
    height: auto;
  }
  .fondo_contactanos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2;
  }
  .card_contactos {
    margin-left: 25%;
  }
  .btn-primary {
    background-color: black;
    border-color: black;
    margin-left: 20px;
  }
  .video_youtube {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .youtube0 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .youtube1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .youtube2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .youtube3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .youtube4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .youtube5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .youtube6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media (max-width: 670px) {
  .barra {
    font-size: 12px;
    grid-gap: 5px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  h1 {
    font-size: 40px;
  }
  .galeria {
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(10, auto);
    gap: 5px;
    row-gap: 10px;
    padding: 10px;
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item8 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item10 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item11 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item13 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item14 {
    grid-column: 1/3;
    grid-row: 5/6;
    padding-left: 50px;
  }
  .item3 {
    grid-column: 1/3;
    grid-row: 6/7;
    padding-left: 150px;
  }
  .item6 {
    grid-column: 1/3;
    grid-row: 7/8;
    padding-left: 150px;
  }
  .item9 {
    grid-column: 1/3;
    grid-row: 8/9;
    padding-left: 150px;
  }
  .item12 {
    grid-column: 1/3;
    grid-row: 9/10;
    padding-left: 150px;
  }
  .item15 {
    grid-column: 1/3;
    grid-row: 10/11;
    padding-left: 50px;
  }
  .carousel-inner {
    padding-top: 20px;
    margin-left: 0%;
    width: auto;
  }
  .tam-imagen {
    max-width: 670px;
    height: auto;
  }
  .card_contactos {
    margin-left: 18%;
  }
  .iphone {
    width: 380px;
  }
  .card_contactos {
    margin-bottom: 18vh;
    margin-left: 1vh;
  }
  .info_contactos {
    max-width: 400px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .card_contactos {
    max-width: 400px;
  }
}
@media (max-width: 433px) {
  .barra {
    font-size: 12px;
    grid-gap: 5px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .tarjeta_index {
    width: 390px;
  }
  .img-tarjeta {
    width: 380px;
  }
  h1 {
    font-size: 35px;
    padding-top: 9px;
  }
  .galeria {
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(10, auto);
    gap: 5px;
    row-gap: 10px;
    padding: 10px;
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item8 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item10 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item11 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item13 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item14 {
    grid-column: 1/3;
    grid-row: 5/6;
    padding-left: 50px;
  }
  .item3 {
    grid-column: 1/3;
    grid-row: 6/7;
    padding-left: 150px;
  }
  .item6 {
    grid-column: 1/3;
    grid-row: 7/8;
    padding-left: 150px;
  }
  .item9 {
    grid-column: 1/3;
    grid-row: 8/9;
    padding-left: 150px;
  }
  .item12 {
    grid-column: 1/3;
    grid-row: 9/10;
    padding-left: 150px;
  }
  .item15 {
    grid-column: 1/3;
    grid-row: 10/11;
    padding-left: 50px;
  }
  .carousel-inner {
    padding-top: 20px;
    margin-left: 0%;
    width: auto;
  }
  .tam-imagen {
    max-width: 414px;
    height: auto;
  }
  .card_contactos {
    margin-left: 1%;
  }
  .texto {
    padding-left: 2%;
  }
  .info_contactos {
    padding-top: 2%;
  }
  .tamano {
    width: 400px;
    margin-left: 50px;
  }
  .iphone {
    width: 400px;
    margin-left: 0px;
  }
  .video_youtube {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(14);
    margin-bottom: 15%;
  }
  .youtube0 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 25px;
    padding-top: 15px;
  }
  .youtube1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .youtube2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .youtube3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .youtube4 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .youtube5 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .youtube6 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .titulo_youtube {
    font-size: 20px;
  }
  .card_contactos {
    max-width: 380px;
    margin-bottom: 21vh;
  }
}

/*# sourceMappingURL=estilos.css.map */
