$color_fuente_principal: #ffff;

@font-face {
    font-family:Anurati-Regular ;
    src:url(../fuentes/anurati_font/Anurati-Regular.otf)
}

body {
    background-color: #efefef;
}

h1 {
    font-family:Anurati-Regular ;
    font-size: 40pt;
    color: $color_fuente_principal;
    text-align: center;
}

#vt {
    height: 45px;
    width: auto;
    margin-left: auto;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}
.texto_card {
    font-size: 15pt;
    color: black;
}
.texto_card2 {
    font-size: 15pt;
    color: black;
    padding-top: 4%;
}
.video1 {
    height: 400px;
    width: 100%;
    margin-bottom: 35px;
    box-shadow: 0 1rem 0.4rem rgba(0, 0, 0, 0.3);
}
.barra a {
    text-decoration: none;
    color: rgb(251, 249, 249);
}

.barra a:hover {
    color: rgb(213, 99, 112);
}

.logo-index {
    background-color: rgba(0, 0, 0, 0.143);
    height: 80px
}

footer {
    background-color: rgba(3, 2, 2, 0.803);
    height: 50px;
    width: 100%;
    margin-top: auto;
    display: inline-flex;
    justify-content: end;
    padding-top: 2px;
}

.flex-container a {
    color: aliceblue;
    font-size: 26px;
    width: 45px;
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
section article {
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    margin-left: 16px;
    width: 420px;
}

.carousel-inner {
    width: auto;
    height: 300px;
    margin-left: 30%;
}

.carousel {
    background-color: black;
    margin-top: 50px;
}

.tam-imagen {
    width: auto;
    height: 300px;
}


section article h3,
section article p {
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

section article h3 {
    text-align: center;
}

section article:hover {
    box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.3);
}

.img-tarjeta {
    width: 400px;
    height: auto;
}

.video-grande {
    width: 1120px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.video-grande-youtube {
    width: 90%;
    height: 280px;
}

.centrar-tarjeta {
    display: flex;
    justify-content: center;
}

.caja-video-chica {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video-chico {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.video-chico-youtube {
    width: 90%;
    height: 90%x;
}

.titulo {
    background-color: black;
    height: 80px;
    padding: 10px;
}

.buscar {
    background-color: rgba(0, 0, 0, 0.143);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.comparativo {
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

.tabla {
    width: 80%;
}

.avatar {
    display: flex;
    justify-content: center;
}

.capacitaciones {
    list-style: none;
    font-size: 11pt;

}

.texto {
    font-size: 18px;
    color: #f1f1f152;
}

.datos-personales {
    margin: 10px;

}

.barra {
    font-size: 14px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, auto);
}

.galeria {
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, none);
    gap: 5px;
    row-gap: 10px;
    padding: 10px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15 {
    border-bottom: black 1px solid;
}

.lista {
    list-style: none;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    margin-bottom: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.tarjeta_capacitacion {
    display: flex;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    max-width: 800px;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #5968749c;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    max-width: 40px;

}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.boton_busqueda{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.btn-primary{
    background-color:black;
    border-color: black;
    margin-left: 125px;

}
.fondo_contactanos{
    background-color: black;
    display: grid;
    grid-template-columns:repeat(2,1fr);
}

.info_contactos{
    padding-top: 20%;

}
.card_contactos{
    opacity: 55%;
    background-image: url(imagenes/f.elconfidencial.com-original-d9e-66d-793-d9e66d793adbc994841e60850a17e61c.jpeg);
    color: #f1f1f1;
}

.card1{
    border-radius: 4px;
    padding: 6px;
    box-shadow: 1px 1px 12px 0px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.title{
    font-family:Anurati-Regular ;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 10px;
    opacity: 0.85;
}

.small{
    font-weight: 400;
    font-size: 12px;
    opacity: 0.75;
    color: #fff

}

.ucard {
    @extend .card1; 
    text-align: center;
    width: 300px;
    > h3{
        @extend .title
    }
    > p {
        @extend .small
    }
}
$colores: (
    3s: #a7a7a7,
    3gs: #bdbdbd,
    4: #c9c9c9,
    4s: #d3d3d3,
    5: #dcdcdc
);

@each $formato, $color in $colores{
    .tarjeta_historia--#{$formato} {
        color: $color;
    }
    
}
@mixin imagen {
    width: 800px;
    margin-left: 50px;
    
}

.tamano{
        @include imagen()
    }

@media (max-width:1366px){
    .video-chico {
        width: 500px;
        height: 290px;
    }
    .tarjeta_capacitacion{
        margin-bottom: 3%;
    }
    .btn-primary{
        background-color:black;
        border-color: black;
        margin-left: 125px;
    }
}


@media (max-width:720px) {
    .barra {
        font-size: 14px;
        grid-gap: 12px;
    }

    .tarjeta_capacitacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        
    }

    .card {
        margin-top: 40px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }

    .video-grande {
        width: 700px;
        height: 250px;
    }

    .centrar-tarjeta {
        margin-bottom: 16px;
    }

    .video-chico {
        width: 300px;
        height: 200px;
        margin-bottom: 60px;
    }
    .carousel-inner{
        padding-top: 20px;
        margin-left: 0%;
        width: auto;
    }
    .tam-imagen{
    max-width: 720px;
    height: auto;
    }
    .fondo_contactanos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:2;
    }
    .card_contactos{
    margin-left: 25%;
    }
    .btn-primary{
        background-color:black;
        border-color: black;
        margin-left: 20px;
    }
}


@media (max-width: 670px) {
    .barra {
        font-size: 12px;
        grid-gap: 5px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    h1 {
        font-size: 40px;
    }

    .video-grande-youtube {
        width: 380px;
        height: 230px;
    }

    .video-chico {
        width: 420px;
        height: 280px;
        margin-bottom: 2px;
    }

    .video-chico-youtube {
        width: 385px;
        height: 260px;
    }

    .galeria {
        min-height: 300px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(10, auto);
        gap: 5px;
        row-gap: 10px;
        padding: 10px;
    }

    .item1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .item2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .item4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .item10 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .item11 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .item13 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .item14 {
        grid-column: 1/3;
        grid-row: 5/6;
        padding-left: 50px;
    }

    .item3 {
        grid-column: 1/3;
        grid-row: 6/7;
        padding-left: 150px;
    }

    .item6 {
        grid-column: 1/3;
        grid-row: 7/8;
        padding-left: 150px;
    }

    .item9 {
        grid-column: 1/3;
        grid-row: 8/9;
        padding-left: 150px;
    }

    .item12 {
        grid-column: 1/3;
        grid-row: 9/10;
        padding-left: 150px;
    }

    .item15 {
        grid-column: 1/3;
        grid-row: 10/11;
        padding-left: 50px;
    }
    .carousel-inner{
        padding-top: 20px;
        margin-left: 0%;
        width: auto;
    }
    .tam-imagen{
    max-width: 670px;
    height: auto;
    }
    .card_contactos{
        margin-left: 18%;
        }
}


@media (max-width: 433px) {
    .barra {
        font-size: 12px;
        grid-gap: 5px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    h1 {
        font-size: 35px;
        padding-top: 9px;
    }

    .video-grande-youtube {
        width: 380px;
        height: 230px;
    }

    .video-chico {
        width: 420px;
        height: 280px;
        margin-bottom: 2px;
    }

    .video-chico-youtube {
        width: 385px;
        height: 260px;
    }

    .galeria {
        min-height: 300px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(10, auto);
        gap: 5px;
        row-gap: 10px;
        padding: 10px;
    }

    .item1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .item2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .item4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .item10 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .item11 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .item13 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .item14 {
        grid-column: 1/3;
        grid-row: 5/6;
        padding-left: 50px;
    }

    .item3 {
        grid-column: 1/3;
        grid-row: 6/7;
        padding-left: 150px;
    }

    .item6 {
        grid-column: 1/3;
        grid-row: 7/8;
        padding-left: 150px;
    }

    .item9 {
        grid-column: 1/3;
        grid-row: 8/9;
        padding-left: 150px;
    }

    .item12 {
        grid-column: 1/3;
        grid-row: 9/10;
        padding-left: 150px;
    }

    .item15 {
        grid-column: 1/3;
        grid-row: 10/11;
        padding-left: 50px;
    }
.carousel-inner{
    padding-top: 20px;
    margin-left: 0%;
    width: auto;
}
.tam-imagen{
max-width: 414px;
height: auto;
}
.card_contactos{
    margin-left: 1%;
    }
.texto{
    padding-left: 2%;
}
.info_contactos{
    padding-top: 2%;
}
}